# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python / Node (if used in the future)
__pycache__/
node_modules/

# Keys and credentials
*.key
*.pem
*.pfx
.env
.env.*

# Logs and results
logs/
*.log
*.json
*.csv
tmp/


# Bash script artifacts
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/
